@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #D0E7C6;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(6,57,85);
    padding: 0 5px;
    background: white;
    transform: translateX(-50%);
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(6,57,85);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(6,57,85);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(6,57,85);
}
.navbar.sticky .menu li a:hover{
    color: white;
}
/* menu btn styling */
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(6,57,85);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* home section styling */
.home{
    display: flex;
    background: url("homebanner.png") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(6,57,85);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(6,57,85);
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(6,57,85);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(6,57,85);
    background: none;
}
/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(6,57,85);
    font-weight: 500; 
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(6,57,85);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(6,57,85);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(6,57,85);
    background: none;
}
/* services section styling */
.services, .teams{
    color:white;
    background: black;
}
.services .title::before,
.teams .title::before{
    background: white;
}
.services .title::after,
.teams .title::after{
    background: #D0E7C6;
}
.services .serv-content .card{
    width: 300px;
    height: 300px;
    margin: 20px;
    background: rgb(6,57,85);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: rgb(6,57,85);
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: rgb(6,57,85);
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: white;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* skills section styling */

#skills {
    text-align: center;
    padding: 40px;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 20px;
    text-align: center;
    background-color: white; /* Background color for each skill box */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the skill boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
    transition: transform 0.2s ease-in-out;
}

.skill:hover {
    transform: scale(1.05); /* Enlarge the skill box on hover */
}

.skill i {
    font-size: 48px;
    color: #333; /* Icon color */
}

/* Style specific skills */
.skill span:nth-child(1),
.skill span:nth-child(3),
.skill span:nth-child(4),
.skill span:nth-child(5),
.skill span:nth-child(7) {
    font-weight: bold;
    text-transform: uppercase;
    color: #333; /* Text color for specific skills */
}

/* teams section styling */


.teams .carousel .card{
    height: 350px;
    width: 350px;
    margin: 10px;
    background: rgb(6,57,85);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: rgb(6,57,85);
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    color: #000;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(6,57,85);
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: white;
}*/

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(6,57,85)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}*/
.owl-dot.active,
.owl-dot:hover{
    background: rgb(6,57,85)!important;
}
/* contact section styling */

#contact {
    text-align: center;
    padding: 40px;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    margin: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.contact:hover {
    transform: scale(1.05);
}

.contact a {
    text-decoration: none;
    color: #333;
}

.contact i {
    font-size: 48px;
    color: #333;
}

.contact span {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
/* footer section styling */
footer{
    background:black;
    padding: 15px 23px;
    color: white;
    text-align: center;
}
footer span a{
    color: rgb(6,57,85);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #D0E7C6;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}